# Dependencies
node_modules/

# Cypress artifacts
cypress/videos/
cypress/screenshots/
reports/
downloads/

# Env files
.env
.env.*
!.env.example

# OS / editor
.DS_Store
.vscode/
.idea/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
